.component {
  position: relative;
}

.component .group {
  height: 72px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 528px;
}

.component .overlap {
  height: 72px;
  position: relative;
  width: 526px;
}

.component .rectangle {
  background-color: #619c4c;
  border-radius: 10px;
  height: 67px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 526px;
}

.component .what-measures-are-in {
  color: #2d4e22;
  font-family: "Lexend-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 60px;
  left: 22px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  width: 461px;
}

.component .text-wrapper {
  line-height: 56px;
}

.component .span {
  line-height: 20px;
}

.component .overlap-group-wrapper {
  height: 31px;
  left: 475px;
  position: absolute;
  top: 23;
  transform: rotate(-0.41deg);
  width: 37px;
}

.component .overlap-group {
  height: 31px;
  position: relative;
}

.component .div {
  background-color: #d9d9d9;
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-0.02deg);
  width: 37px;
}

.component .line {
  height: 14px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  transform: rotate(0.41deg);
  width: 10px;
}

.component .img {
  height: 15px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  transform: rotate(0.41deg);
  width: 10px;
}

.component .frame {
  background-color: #ffffff;
  height: 103px;
  left: 11px;
  position: absolute;
  top: 67px;
  width: 501px;
}

.component .p {
  color: #000000;
  font-family: "Lexend-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 72px;
  left: 19px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 18px;
  width: 461px;
}

.component .div-wrapper {
  height: 64px;
  margin-right: -2px;
  position: relative;
  width: 528px;
}

.component .overlap-group-2 {
  background-color: #619c4c;
  border-radius: 10px;
  height: 64px;
  position: relative;
  width: 526px;
}

.component .text-wrapper-2 {
  color: #2d4e22;
  font-family: "Lexend-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  left: 17px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 12px;
  width: 461px;
}

.component .group-2 {
  background-color: #d9d9d9;
  height: 30px;
  left: 475px;
  position: absolute;
  top: 17px;
  transform: rotate(179.58deg);
  width: 37px;
}

.component .line-2 {
  height: 14px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  transform: rotate(-179.58deg);
  width: 11px;
}

.component .line-3 {
  height: 14px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  transform: rotate(-179.58deg);
  width: 10px;
}

.component .closed {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.component .opened {
  height: 233px;
  width: 526px;
}