.group {
    border-radius: 10px;
    height: 64px;
    position: relative;
    width: 526px;
}

.group .text-wrapper {
    color: #2d4e22;
    font-family: "Lexend-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 56px;
    left: 22px;
    letter-spacing: 0;
    line-height: 56px;
    position: absolute;
    top: 4px;
    width: 490px;
}

.group.hover {
    background-color: #619c4c;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #00000040;
}

.group.clicked {
    background-color: #43792f;
}

.group.default {
    background-color: #619c4c;
}

.group.clicked .text-wrapper {
    white-space: nowrap;
}