:root {
    --body-text-font-family: "OpenSans-Regular", Helvetica;
    --body-text-font-size: 12px;
    --body-text-font-style: normal;
    --body-text-font-weight: 400;
    --body-text-letter-spacing: 0.12px;
    --body-text-line-height: 20px;
  }
  